{% extends "home/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock css %}
{% block content %}

<!-- main center start -->
<div class="main-center">
    <div class="story">
        <div class="single-story add-story">
            <img class="story-bg" src="{{user.profile.profile_picture.url}}" alt="story image">
            <div class="add-icon">
                <ion-icon name="add-outline"></ion-icon>
                <span>Add Story</span>
            </div>
        </div>

        {% for story in others_story %}        
        <div class="single-story">
            <img class="story-bg" src="{{story.image.url}}" alt="story image">
            <img class="story-user" src="{{story.author.profile_picture.url}}" alt="user">
            <span>{{story.author}}</span>
        </div>        
        {% endfor %}

    </div>
    
    <div class="new-post">
        <form action="" class="C-Form" novalidate method="POST">
            {% csrf_token %}
            {% for row in form %}
            {% block label %}{% endblock label %}
            {{row.label}}
            {{ row }}
            <br>
            {% if row.errors %}
            {% for error in row.errors %}
            <p style="color:red;">{{error}}</p>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <button class="button icon-button"><ion-icon name="link-outline"></ion-icon>Post It!</button>
        </form>
    
    </div>


</div>

<!-- END main center  -->


{% endblock content %}