{% load static %}
{% load ipost %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static "js/htmx.min.js" %}"></script>

</head>
<body>
    <h2>TESTING HTML CODE HERE </h2>
    
    <div id="xxyy">

    </div>

    <br>
    <button
    hx-get="{% url "temp_partial" i %}" 
    hx-target="#xxyy" 
    hx-swap="innerHTML"
    >ADD IMAGE 
    </button>
        
</body>
</html>